#tabpane
{
	-fx-tab-min-height: 10em;
	-fx-tab-max-height: 10em;
	-fx-tab-min-width: 0.5em;
	-fx-tab-max-width: 0.5em;
}
.tab .tab-label{
	-fx-background-color: transparent;
	-fx-alignment: CENTER;
	-fx-text-fill: #EBEAF0;
}
.tab{
	-fx-background-color: #ffa500;
	-fx-padding: 20 20 20 20;
	-fx-background-radius:0.0;
	-fx-background-insets: 0.0; 
}
.tab:selected
{
	-fx-background-color: #ffa700;
	-fx-background-radius:0.0;
	-fx-background-insets: 0.0; 
	-fx-border-width: 5 0 0 0;
	-fx-border-color: #ffffff;
}
.tab:focused
{
	-fx-focus-color: trasparent;
}
.tab-pane *.tab-header-background
{
	-fx-background-color: transparent;
}
.tab-pane:left *.tab-header-area
{
	-fx-background-insets: 0, 0, 0, 10;
	-fx-padding: 0 0 0 0 ;
}
.tab:selected .focus-indicator
{
	-fx-focus-color: transparent;
	-fx-border-color: transparent;
}
